@font-face {
    font-family: "Montserrat";
    src: url('@/scss/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Inter";
    src: url('@/scss/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
    font-family: "Josefin Sans";
    src: url('@/scss/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}